* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background-color: yellow;
}
a {
    text-decoration: none;
}
.black {
    background-color: black;
}
.peach {
    background-color: rgba(245, 211, 171, 1);
}
.h56 {
    font-size: 56px;
}
.white {
    color: white;
}


header{
    background-color: black;
    height: 100%;
    
}
.shapes{
    position: absolute;
    right: 0%;
    width: 60%;
    height: 96.5%;
}
nav {
    display: flex;
    justify-content: space-between;

}
.APR {
    display: flex;
    gap: 25px;
    color: white;
    margin: 20px 80px 20px;
}
.APR a {
    color: white;
}
.contactButton > input {
    margin: 20px 80px 20px;
    color: white;
    background-color: black;
    padding: 7px 20px;
    border: 0.5px solid gray;
}
.sections {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
.left {
    color: white;
    margin: 80px;
    inline-size: 300px;
}
.left > h1 {
font-size: 60px;
margin: 20px 0px 20px 0px;
}
/* .downButton {
    background-color: black;
    align-items: center;
    cursor: pointer;
} */
.downbutt {
    display: flex;
    justify-content: center;
}
.bakerPhoto {
    position: absolute;
    right: 150px;
}


.sectionOne {
    display: flex;
    background-color: rgba(245, 211, 171, 1);
}
.BSMphotos{
width: 40%;    
margin: 5%;    
display: flex;
place-content: center;
}
.blackImage {
    position: absolute;
}
.grey {
    position: relative;
    top: 250px;
    left: 600px;
}
.dost {
    position: absolute;
}
.LastViewBack {
    display: flex;
}
.BSM{
    margin-top: 80px;
}
.BSM > h5 {
    margin-bottom: 10px;
}
.BSM > h1 {
    font-size: 56px;
    max-width: 370px;
}
.BSM > p {
    margin: 60px  0px 10px;
}
.LastViewBack {
gap: 20px;
    
}
.LastViewBackRightP {
    color: gray;
    max-width: 370px;
    padding: 15px 0px 40px;
}
.LastViewBackRight :nth-child(4) {
    padding: 10px 0px;
}



.sectionTwo{
    background-color: rgba(245, 211, 171, 1);
}
.animBoxs {
    display: flex;
    place-content: center;
}
.sectionTwoH {
    display: flex;
    justify-content: center;
}
.sectionTwo > h1 {
font-size: 56px;  
margin: 18px;
}
.box {
    background-color: white;
    width: 370px;
    height: 400px;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    place-content: center;
    padding: 40px;
    margin-bottom: 200px;
}
.box:hover {
    width: 400px;
    height: 416px;
    transform: translateY(-6px);
    background-color:rgba(158, 173, 141, 1);
    transition: 0s;
    background-image: url(./images/yellowDott.png);
    background-repeat: no-repeat;
    background-position-x: right;

}

.sectionThree {
    display: flex;
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url(./images/Group\ 3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#play {
    border: none;
    background-color: inherit;
}
#audioval {
    visibility: hidden;
    }
.audio {
    width: 160px;
    height: 160px;
    display: flex;
    place-content: center;
    margin: 200px;
}
.audio:hover {
    box-shadow: 0px 0px 1px 4px white;
    border-radius: 50%;
}
.sectionThree  > h1 {
    color: white;
}
.sectionThree > p {
    color: white;
}
.sectionThreeH {
    margin: 200px 0px 0px 300px;
    max-width: 400px;
    color: white;
}



.sectionFour > h1 {
    max-width: 400px;
    margin: 0px 0px 40px 160px;
}
.sectionFour > p {
    padding: 50px 40px 0px 160px;
}
.sectionFourBoxs {
    width:  80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    justify-items: center;
    gap: 34px 0px;
    margin: 40px 0px 40px  150px ;
}
.BFEM {
    height: 448px;
    width: 370px;
    background-color: rgb(148, 142, 142);
    display: flex;
    flex-direction: column-reverse;
    
}
.boxOne {
    grid-column-start: span 2;
    width: 95%; 
    color: white;
    background-image: url(./images/assortment-baked-bread-scaled.jpg); 
}
.boxOne .boxOneH {
    margin: 200px 40px 40px 40px;
    gap: 20px;
    max-width: 300px;
}
.boxOneH h1 {
    font-size: 40px;
    margin: 20px 0px;
}
.boxOneH p {
    color: rgba(255, 255, 255, 0.503);
}
.BFEM {
    background-size: cover;
    background-position: center;
}
.BFEM footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}
.BFEM h2 {
    font-size: 24px;
    margin: 20px 0px 0px 0px;
}
.price {
font-size: 40px;
font-family: ultra;
}

.boxTwo {
    background: url(./images/Country-White-Bread_.jpg);
    background-size: contain;
}
.boxThree {
    background-image: url(./images/chocolate-cupcakes.jpg);
}
.boxFour {
    background: url(./images/06112019_BiscuitIntl.jpg);
}
.boxFive {
    background: url(./images/brioche-597b5f8.jpg);
}

.explore {
display: flex;
justify-content: center;
padding-bottom: 80px;
} 


.sectionFive p {
    padding-top: 80px;
}
.sectionFive h1 {
    padding-bottom: 80px;
}

.HWW h1 {
justify-self: center;
transform: translateY(130px);
font-size: 40px;
}
.HWW p {
    max-width: 204px;
}
